prisma
fastapi
uvicorn
gunicorn
scikit-learn
nltk
bs4
selenium
pandas
marshmallow
numpy
matplotlib
slowapi
aiocache
python-dotenv
cinemagoer
tqdm
fuzzywuzzy
python-Levenshtein
transformers
torch
torchvision